---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<Layout>
	<div class="flex flex-col min-h-screen">
		<Navbar />

		<!-- Hero Section -->
		<div class="flex-grow relative w-full overflow-hidden">
			<!-- Background Image with Reduced Opacity -->
			<div class="absolute inset-0 bg-black">
				<img 
					src="/src/assets/images/hero.jpg" 
					alt="Hero Image" 
					class="w-full h-full object-cover object-center opacity-65"
				>
			</div>

			<!-- Logo Centered -->
			<div class="absolute inset-0 flex items-center justify-center">
				<img 
					src="/src/assets/logo_white.png" 
					alt="CCG Logo" 
					class="w-3/4 md:w-2/3 lg:w-1/2 max-w-xl z-10"
				>
			</div>
		</div>
	</div>
</Layout>
