---
import logo from "../assets/logo.svg";

const links = [
    { name: "Home", href: "/" },
    { name: "Portfolio", href: "/portfolio" },
    { name: "Recruitment", href: "/recruitment" },
    { name: "Meet The Team", href: "/team" },
];

/* potentially add social icons like in the harvard page?
    const socialLinks = [
        { icon: "Instagram", "href: "}
    ]
*/
---

<nav class="h-[100px] px-6 border-b border-black flex items-center bg-white">
    <div class="max-w-7xl w-full mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="/" class="flex items-center">
            <img src={logo.src} alt="Logo" class="h-12 w-auto">
        </a>

        <!-- Nav Links -->
        <ul class="hidden md:flex gap-6">
            {links.map((link) => (
                <li>
                    <a href={link.href} class="text-gray-800 hover:text-blue-600 transition">
                        {link.name}
                    </a>
                </li>
            ))}
        </ul>

        <!-- Mobile Menu (implement)m-->
        <button class="md:hidden text-gray-800 text-4xl">
            ☰
        </button>
    </div>
</nav>
